body{
    background-color: #333333;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 8px;
}
h1, h2, p, li{
    color: #EAF6F6;
}
.titulo{
    text-align: center;
}
.bio{
    font-size: x-large;
    text-align: justify;
}
.lista li{
    margin-bottom: 25px;
}
.livros{
    border-radius: 50px;
}
.tabela img{
    width: 450px;
    height: auto;
}

.divgeral{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tabela, td, th{
    border-collapse: collapse;
    border: 5px solid #EAF6F6;
    padding: 10px;
    width: 60%;
    color: #EAF6F6;
    height: auto;
    background-color: #2c2c2c;
}
.button-container {
    text-align: center;
    margin-top: 30px;
}
.button:hover{
    background: #23253b;
}

.button {
    width: 200px;
    color: #EAF6F6;
    background: #2B2E4A;
    border: 2px solid black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6%;
}
.mensagem {
    margin-top: 20px;
    font-size: x-large;
    color: #EAF6F6;
}
a{
    color: blue;
}
a:hover{
    color: red;
}